@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root {
    --bg-color: #070707;
    --main-color: #F5F0F6;

    font-family: 'Kanit', sans-serif;
    color: #F5F0F6;

    background-color: #070707;
}

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding: 1rem;
}

header svg{
    fill: var(--main-color);
    height: 4rem;
}

hr {
    border: none;
    height: 1px;
    background: linear-gradient(90deg, var(--bg-color) 0%, var(--main-color) 10%, var(--main-color) 90%, var(--bg-color) 100%);
}
