@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root {
    --bg-color: #070707;
    --main-color: #F5F0F6;

    font-family: 'Kanit', sans-serif;
    color: #F5F0F6;

    background-color: #070707;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding: 1rem;
}

header svg{
    fill: var(--main-color);
    height: 4rem;
}

hr {
    border: none;
    height: 1px;
    background: linear-gradient(90deg, var(--bg-color) 0%, var(--main-color) 10%, var(--main-color) 90%, var(--bg-color) 100%);
}

hr:nth-of-type(2) {
    margin-top: auto;
}

footer {
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
}

footer a {
    color: var(--main-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-items: center;
    align-items: center;

    overflow: hidden;
}

main p {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    letter-spacing: -0.5rem;

    font-size: 2rem;
    text-transform: uppercase;
    height: 100%;
}

p.right {
    writing-mode: vertical-rl;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.board {
    box-sizing: border-box;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: clamp(250px, 500px, 90%);
    height: clamp(250px, 500px, 90%);
    background-color: var(--main-color);
}
